@model BadNews.Models.Editor.IndexViewModel

@{
    Layout = null;
}

<main role="main" class="container">
    <div class="row">
        <div class="m-auto">
            <form>
                <div class="p-2">
                    <div>
                        <label>@Model.Header</label>
                    </div>
                    <div>
                        <input asp-for="Header" type="text" size="80">
                    </div>
                    <div>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="p-2">
                    <div class="mr-2">
                        <label>@Model.Teaser</label>
                    </div>
                    <div>
                        <textarea cols="80" rows="5"></textarea>
                    </div>
                    <div>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="p-2">
                    <div class="mr-2"><label>@(Model.ContentHtml)</label></div>
                    <div>
                        <textarea cols="80" rows="15"></textarea>
                    </div>
                    <div>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="p-2 mb-4 text-center">
                    <button class="btn btn-primary" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</main>
